#include <windows.h>

#include "gui_res.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_MAIN DIALOGEX 0, 0, 170, 30
CAPTION "oordump"
STYLE DS_NOIDLEMSG|DS_SHELLFONT|WS_TABSTOP|DS_MODALFRAME|WS_CAPTION|WS_BORDER
FONT 10, "MS Shell Dlg"
{
	LTEXT "Output path:", IDST_OUTPATH_FIXED, 2, 2, 42, 14
	LTEXT "", IDST_OUTPATH, 43, 2, 81, 14
	PUSHBUTTON "Browse...", IDBTN_OUTBROWSE, 124, 0, 46, 14, WS_TABSTOP
	AUTOCHECKBOX "Dump", IDBTN_DUMP, 0, 16, 45, 14, BS_PUSHLIKE|WS_TABSTOP
	AUTOCHECKBOX "One-shot", IDBTN_ONESHOT, 48, 16, 60, 14, WS_DISABLED
	CTEXT "", IDST_STATUS, 124, 18, 36, 14
}

